---
import FooterComponent from '../components/Footer.astro';
import FaviconSetup from '../components/FaviconSetup.astro';
import Analytics from '../components/Analytics.astro';
import { Image } from '@astrojs/image/components';
import '../styles/main.css';

const {
    frontmatter: {
        title,
        description,
        tags,
        image,
        date,
        author,
        meta,
        readingTime
    }
} = Astro.props;

const postDate = new Date(date).toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric'
});
---

<!DOCTYPE html>
<html lang="en">
	<head>
    <Analytics />
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
    <FaviconSetup />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <meta name="description" content={description} />
        <meta name="keywords" content={tags} />
        <meta name="author" content={author} />
        <meta name="date" content={date} />
        <meta name="image" content={image} />
        {meta.map((data: {name: string, content: string}) => <meta name={data.name} content={data.content} />)}
	</head>
	<body>
        <header>
            <div class="pt-24">
              <div class="max-w-xl md:max-w-3xl xl:max-w-4xl mx-auto text-center px-6">
                <Image class="mb-4" src={image} alt={title} width={1000} height={467}/>
                <p class="text-gray-700 text-xs mb-2 uppercase">{readingTime} min read</p>
                <h1 class="text-3xl sm:text-5xl leading-tight font-sans font-bold mb-2 text-black">{title}</h1>
                <p class="text-gray-700">
                  <span>
                    <a class="text-gray-700 capitalize border-b border-transparent transition-colors duration-300">Bartick</a> •
                  </span>
                  <time datetime="2019-02-27 17:54:43" class="capitalize">{postDate}</time>
                </p>
              </div>
            </>
            <nav class="absolute top-0 left-0 z-20 mt-6 ml-6">
              <a href="/" class="text-sm border opacity-75 hover:opacity-100 rounded-full px-4 py-2 transition-opacity duration-300 active text-gray-900 border-gray-400">← Home</a>
            </nav>
        </header>
		    <div class="markdown-body max-w-xl md:max-w-2xl xl:max-w-4xl mx-auto px-6 sm:px-12 pt-16 border-b border-gray-300">
            <slot />
        </div>
        <FooterComponent />
        <script>
          import mediumZoom from 'medium-zoom';
          mediumZoom(document.querySelectorAll('img'));
          gtag('event', 'page_view', {
            page_location: window.location.href,
            page_path: window.location.pathname,
            page_title: document.title
          })
        </script>
	</body>
</html>